html {
	width: 100%;
	min-height: 100%;
}

body {
	height: 100%;
    width: 100%;
    font-family: Roboto;
	font-size: 18px;
	font-weight: 500;
	text-align: left;
	color: #4a56f5;
    background: white;
    overflow-x: hidden;
    letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6, ul, p {
	margin: 0;
}

/* Generral Rules */

.inline-block {
	display: inline-block;
}

.light-grey {
	color: #9b9b9b;
}

.light-green {
	color: #7ed321;
}

select, input[type="date"] {
	width: 129px;
	height: 36px;
	border-radius: 5px;
	background-color: #dddddd;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.39);
}

/*
.light-blue {
	color: #4d5aff;
}*/

/* Inputs, buttons */

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #3e6373;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #3e6373;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #3e6373;
}
:-moz-placeholder { /* Firefox 18- */
  color: #3e6373;
}

/* Sidebar */

.sidebar {
	width: 100%;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background-color: #1c2237;
    color: #fff;
    transition: all 1s;
}

.sidebar .roboto-logo {
	width: 40px;
	margin: 0 auto;
	margin-top: 45px;
	margin-bottom: 30px;
	display: block;
}

.sidebar h3 {
	text-transform: uppercase;
	margin: 0 0 81px;
}

.sidebar.active {
    margin-left: -250px;
}

.sidebar .top-list li a {
    font-size: 14px;
    display: block;
    margin-bottom: 29px;
    padding: 0 0 0 64px;
    border-radius: 25px;
    text-decoration: none;
    position: relative;
}

.sidebar .top-list li a img {
    width: 18.6px;
	height: 21px;
}

.sidebar .top-list li a span {
    position: absolute;
    top: 5px;
    left: 99px;
    color: #7685b6;
}

.sidebar .bottom-list {
	margin: 314px 0 0;
}

.sidebar .bottom-list a {
	display: block;
	width: 162px;
	height: 39px;
	margin: 0 auto;
	margin-bottom: 23px;
	border-radius: 25px;
	background-color: #c1c1c1;
	position: relative;
	color: white;
	font-size: 13px;
}

.sidebar .bottom-list a:first-child {
	background-color: #4a56f5;
}

.sidebar .bottom-list span {
	position: absolute;
    top: 10px;
    left: 20px;
}

.sidebar .bottom-list img {
	position: absolute;
    top: 12px;
    right: 13.5px;
}

/*.sidebar ul li a {
    padding: 10px 0 10px 50px;
    font-size: 1.1em;
    display: block;
    text-decoration: none;
}*/

/* End Sidebar */

/* Login Page */

.main-background {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, rgba(146, 107, 255, 0.79), #3b48ea);
	box-shadow: 0 33px 72px 0 rgba(17, 13, 61, 0.35), 12px 6px 8px 0 rgba(50, 64, 236, 0.2);
}

.main-background .login-container {
	max-width: 366px;
	width: 100%;
	margin: 0 auto;
}

.main-background .login-container img {
	margin: 147px 0 23px;
}

.main-background .login-container h3 {
	text-transform: uppercase;
	color: white;
	letter-spacing: 2.2px;
	margin-bottom: 42px;
}

.main-background .login-container form {
	width: 366px;
	height: 438px;
	border-radius: 8px;
	background-color: #ffffff;
	box-shadow: 0 2px 0 0 #999999;
	border: solid 1px #d0d0d0;
}

.main-background .login-container form h4 {
	color: #3e6373;
	margin: 24px 0; 
}

.main-background .login-container form input[type="text"], .main-background .login-container form input[type="password"] {
 	padding-left: 19.5px;
 	width: 303px;
 	height: 52px;
	border-radius: 8px;
	background-color: #eeeeee;
	border: 0;
	outline: 0;
}

.main-background .login-container form input[type="text"], .main-background .login-container form input[type="password"] {
	font-size: 14px;
	text-align: left;
	color: #3e6373;
}

.main-background .login-container form input[type="password"] {
	margin: 5px 0 24px;
}

.main-background .login-container form input[type="submit"] {
	width: 303px;
	height: 52px;
	border-radius: 8px;
	background-color: #ff165e;
	color: white;
	letter-spacing: 2px;
}

.main-background .login-container form p {
	width: 229px;
	margin: 0 auto;
	margin-top: 24px;
	margin-bottom: 34px;
}

.main-background .login-container form span {
	font-size: 14px;
}

.main-background .login-container form span:first-child a  {
	color: #ff165e;
	font-size: 14px;
}

.re-captcha {
	width: 303px;
	height: 76px;
	margin: 0 auto;
	background-color: #fafafa;
}

.login-copyright {
	color: white;
	font-size: 14px;
	margin: 19px 0 135px;
}

.login-copyright a {
	color: white;
	text-decoration: underline;
}


/* End Login Page */

/* Homepage */

.wrapper {
    display: flex;
    align-items: stretch;
}

.container hr {
    margin-left: 68px;
    margin-top: 0;
    margin-bottom: 0;
    clear: both;
}

.content-header {
    width: 91.8%;
}

.content-header .crypto-first-column, .content-header .crypto-second-column {
	height: 118px;
    padding: 24px 9px;
}

.content-header .crypto-third-column {
	height: 118px;
    padding: 24px 0;
}

.content-header a {
    text-decoration: none;
}

/*.content-header a img:first-child {
    margin: 44px;
}*/

.content-header .top-right-buttons {
	position: relative;
    top: 16px;
}
 
.content-header .top-right-buttons a {
	display: inline-block;
	width: 145px;
	height: 39px;
	margin: 0 auto;
	border-radius: 25px;
	background-color: #c1c1c1;
	position: relative;
	color: white;
	font-size: 13px;
} 

.content-header .top-right-buttons a:last-child {
	background-color: #ff165e;
}

.content-header .top-right-buttons span {
    position: absolute;
    top: 10px;
    left: 20px;
}

.content-header .top-right-buttons img {
    position: absolute;
    top: 12px;
    right: 13.5px;
}

.crypto-details-container {
 	position: relative;
    top: 14px;
    left: 30px;
}

.crypto-details-container h3 {
 	font-size: 22px;
}

.crypto-since-container, .crypto-started-container, .crypto-generating-container, .crypto-fund-container {
	position: relative;
    top: 14px;
    left: 16px;
    margin-right: 4px;
}

.crypto-since-container h4:last-child, .crypto-started-container h4:last-child, .crypto-generating-container h4:last-child, .crypto-fund-container h4:last-child {
	position: relative;
    top: 6px;
}

.content-trigger, .content-do, .content-and {
	padding: 24px 9px;
}

.content-trigger .crypto-trigger-container, .content-do .crypto-do-container, .content-and .crypto-and-container {
	margin: 0 10px;
}

.content-trigger .crypto-trigger-container h4, .content-do .crypto-do-container h4, .content-and .crypto-and-container h4 {
    color: #4a56f5;
    width: 59px;
}

.content-trigger .crypto-trigger-option select, .content-do .crypto-do-option select, .content-and .crypto-and-container select {
	border-radius: 5px;
	border: solid 2px #4a56f5;
	outline: none !important;
	background-color: #ffffff;
	box-shadow: none;
	color: black;
}

.content-trigger .crypto-trigger-play {
    margin-right: 44px;
}

.content-trigger .crypto-trigger-play h5 {
    position: relative;
    top: -30px;
    color: #9b9b9b;
}

.content-trigger .crypto-trigger-play div {
	margin: 0 18px;
}

.content-trigger .crypto-trigger-play h6 {
    position: relative;
    top: 11px;
}

.content-trigger .crypto-trigger-play .live h6 {
    left: 5px;
}

.content-trigger .crypto-trigger-play .pause h6 {
    left: -5px;
}

.content-trigger-function {
    max-width: 637px;
    width: 100%;
    height: 64px;
    opacity: 0.06;
    line-height: 64px;
	border-radius: 6px;
	background-color: #4d5afe;
    margin: 24px 0 24px 128px;
    color: #000000;
}

.content-do .content-do-function, .content-and .content-and-function {
	width: 939px;
    padding: 29px;
	opacity: 0.06;
	border-radius: 6px;
	background-color: #4d5afe;
    margin: 24px 0 24px 113px;
    color: #000000;
}

.content-and .content-and-function {
	width: 1095px;
    padding: 29px;
	opacity: 0.06;
	border-radius: 6px;
	background-color: #4d5afe;
    margin: 24px 0 24px 113px;
    color: #000000;
}

.content-trigger-function h4, .content-do .content-do-function h4, .content-and .content-and-function h4 {
	margin-right: 17px;
	width: 107px;
}

.content-trigger-function h4:nth-child(3), .content-do .content-do-function h4:nth-child(3), .content-do .content-do-function h4:nth-child(5), .content-do .content-do-function h4:nth-child(10), .content-and .content-and-function h4:nth-child(3), .content-and .content-and-function h4:nth-child(5) {
	margin-left: 24px;
}

.content-do .crypto-do-function-second, .content-and .crypto-and-function-second {
	padding-top: 29px;
}
    
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.copyright {
    padding: 0 0 0 64px;
    font-size: 11px;
    margin: 38px 0;
    color: #9b9b9b;
}

.copyright a {
	color: #9b9b9b;
	text-decoration: underline;
}

/* End Login Page */

/* Account Page */

.account-header {
    margin: 17px 0 0 29px;
	text-transform: uppercase;
	font-size: 14px;
	border-bottom: 1px solid #dcdcdc;
}

.account-header ul {
	padding: 19px 0;
}

.account-header ul li a {
    padding: 21px 0;
    color: black;
    text-decoration: none;
}

.account-header ul li a.active {
	border-bottom: 2px solid #ffb946;
	color: #ffb946;
}

.account-content h4 {
	font-size: 20px;
	color: black;
	padding: 55px 0 0 29px;
}

.account-content form {
    color: black;
}

.account-content form .card-js {
    margin: 34px 0 19px 29px;
    width: 312px;
}

.account-content form .account-details {
	border: solid 1px #dcdcdc;
	margin: 34px 0 19px 29px;
    padding: 8px;
	font-size: 14px;
	color: black;
    width: 312px;
    border-radius: 4px;
}

.account-content form input[type="checkbox"], .account-content form input[type="submit"] {
	margin: 20px 10px 20px 29px;
}

.account-content form label {
	font-weight: lighter;
	cursor: pointer;
}

.account-content form input[type="submit"] {
	width: 312px;
	font-size: 16px;
}

.account-content form input[type="text"] {
    margin: 10px 0 10px 29px;
    border-radius: 4px;
    width: 312px;
    box-shadow: none;
    outline: none;
    border: 1px solid #dcdcdc;
    height: 36px;
    display: block;
}

.account-content .lite-trader {
	width: 200px;
	padding: 28px;
	background-color: #9b9b9b;
	margin: 34px 0 0 30px;
	color: #efefef;
}

.account-content .lite-trader h4, .account-content .pro-trader h4, .account-content .guru-trader h4 {
	padding: 0;
	color: white;
	letter-spacing: 2px;
}

.account-content .lite-trader strong, .account-content .pro-trader strong, .account-content .guru-trader strong {
	font-size: 46px;
	letter-spacing: 5.9px;
	padding-left: 13px;
}

.account-content .lite-trader .lite-trader-details, .account-content .pro-trader .pro-trader-details, .account-content .guru-trader .guru-trader-details {
	width: 150px;
	margin: 0 auto;
	text-align: left;
}

.account-content .lite-trader .lite-trader-details span, .account-content .pro-trader .pro-trader-details span, .account-content .guru-trader .guru-trader-details span {
	font-size: 16px;
}

.account-content .lite-trader a {
	width: 145px;
	height: 39px;
	display: block;
    border-radius: 25px;
    background-color: #9b9b9b;
    line-height: 39px;
	border: solid 1px #efefef;
	color: white;
	text-decoration: none;
}

.account-content .pro-trader, .account-content .guru-trader {
	width: 200px;
	padding: 28px;
	background-color: #4d5aff;
	box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.05);
	margin: 34px 0 0 30px;
	color: #efefef;
	margin-bottom: 60px;
}

.account-content .pro-trader a, .account-content .guru-trader a {
	background-color: #ff165e;
    display: inline-block;
    width: 145px;
    height: 39px;
    line-height: 39px;
	display: block;
    border-radius: 25px;
    color: white;
	text-decoration: none;
}




/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 992px) {
    /* Homepage */
	.content-trigger-function {
    max-width: 555px;
    width: 100%;
    height: 130px;
}

}


@media (max-width: 768px) {
	/* Sidebar Toggle */
    .sidebar {
        margin-left: -250px;
    }
    .sidebar.active {
        margin-left: 0;
    }
    .sidebarCollapse span {
        display: none;
    }

    /* Homepage */


}



